In [1]:
# If you are seeing the below error...
#   RuntimeError: The current Numpy installation ('C:\\Users\\mikel\\.virtualenvs\\flywhy\\lib\\site-packages\\numpy\\__init__.py') fails to pass a 
#   sanity check due to a bug in the windows runtime. See this issue for more information: https://tinyurl.com/y3dm3h86
#
# There's a problem w/using Pandas on Windows 2004. If you want to live on the edge, download this insiders preview buuild
# https://blogs.windows.com/windows-insider/2020/12/03/announcing-windows-10-insider-preview-build-20270/
# 
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

df = pd.read_csv("../../../data/tsa-throughput-nov15-nov28.csv")
df.head()

,Hour,Amount,Airports.Days.Checkpoints.CheckpointName,Airports.Days.Date,Airports.AirportCode,Airports.AirportName,Airports.City,Airports.State
0,2020-11-22T00:00:00,164,South Checkpoint,2020-11-22T00:00:00,ANC,Ted Stevens Anchorage International,Anchorage,AK
1,2020-11-22T01:00:00,52,South Checkpoint,2020-11-22T00:00:00,ANC,Ted Stevens Anchorage International,Anchorage,AK
2,2020-11-22T02:00:00,26,South Checkpoint,2020-11-22T00:00:00,ANC,Ted Stevens Anchorage International,Anchorage,AK
3,2020-11-22T03:00:00,65,South Checkpoint,2020-11-22T00:00:00,ANC,Ted Stevens Anchorage International,Anchorage,AK
4,2020-11-22T04:00:00,220,South Checkpoint,2020-11-22T00:00:00,ANC,Ted Stevens Anchorage International,Anchorage,AK

In [3]:
profile = ProfileReport(df, title="Pandas Profiling Report", explorative=True)

In [4]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/22 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [6]:
profile.to_file("../reports/output_tsathroughput.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [1]:
import numpy
import pandas as pd
import sweetviz as sv

df = pd.read_csv("../../../data/tsa-throughput-nov15-nov28.csv")
df.head()

,Hour,Amount,Airports.Days.Checkpoints.CheckpointName,Airports.Days.Date,Airports.AirportCode,Airports.AirportName,Airports.City,Airports.State
0,2020-11-15T00:00:00,173,South Checkpoint,2020-11-15T00:00:00,ANC,Ted Stevens Anchorage International,Anchorage,AK
1,2020-11-15T01:00:00,13,South Checkpoint,2020-11-15T00:00:00,ANC,Ted Stevens Anchorage International,Anchorage,AK
2,2020-11-15T02:00:00,4,South Checkpoint,2020-11-15T00:00:00,ANC,Ted Stevens Anchorage International,Anchorage,AK
3,2020-11-15T03:00:00,42,South Checkpoint,2020-11-15T00:00:00,ANC,Ted Stevens Anchorage International,Anchorage,AK
4,2020-11-15T04:00:00,169,South Checkpoint,2020-11-15T00:00:00,ANC,Ted Stevens Anchorage International,Anchorage,AK

In [3]:
df.shape

(54050, 8)

In [4]:
throughput_report = sv.analyze(df)
throughput_report.show_html("../reports/sweetviz_tsathroughput.html")

                                             |          | [  0%]   00:00 -> (? left)

Report ../reports/sweetviz_tsathroughput.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.